@model List<MRWorld.Models.Movie>
@{
    ViewBag.Title = "DeleteMovieIndex";
}
@Html.Raw(TempData["msg"])
<h2>Delete Movie</h2>

<table class="table table-hover">
    <thead>
    <tr>

        <th scope="col">Movie Name</th>
        <th scope="col">Genre</th>
        <th scope="col">Release Date</th>
        <th scope="col">Rating</th>
        <th scope="col">Click this to Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr class="table-primary">
            <td>@movie.Name</td>
            <td>@movie.Genre</td>
            <td>@movie.ReleaseDate</td>
            <td>@movie.Rating</td>
            <td><button class="btn btn-outline-danger" onclick="location.replace('/Movie/DeleteMovie/@movie.Id')">Delete This Movie</button></td>

        </tr>
    }
    </tbody>
</table>
