@model MRWorld.Models.Users
@{
    ViewBag.Title = "Index";
}

<script>
    function locateToRegister() {
        location.replace("http://localhost:24228/Registration");

    }

  

</script>
@Html.Raw(TempData["msg"])
<h2>Login Page</h2>

@using (Html.BeginForm("LoginCheck", "Login", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <hr/>
    @Html.ValidationSummary()
    <hr/>


    <div class="form-group">
        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">

            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">

            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>

    @*<div class="form-group">
        <input type="checkbox" id="cCheck" name="checker"/>
    </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-outline-primary" value="Log Me In" />
            <input type="button" id="reg" onclick="locateToRegister()" class="btn btn-outline-primary" value="I want to Registration" />
        </div>
    </div>

}
