@model List<MRWorld.Models.Suggestion>
@{
    ViewBag.Title = "Index";
}


<script>
    var preType = "Genre";
    $(document).ready(function () {
        var str ="<option>Action</option>" +
            "<option>Adventure</option>" +
            "<option>Horror</option>" +
            "<option>Thriller</option>" +
            "<option>Romance</option>";

        $("#data").html(str);

       
    });


    function typeChange(val) {
        //var val = $("#byT").val();
        if (val === "Genre") {
            preType = "Genre";


            var str = "<option>Action</option>" +
                "<option>Adventure</option>" +
                "<option>Horror</option>" +
                "<option>Thriller</option>" +
                "<option>Romance</option>";

            $("#data").html(str);
        }
        else if (val === "Rating") {
            preType = "Rating";


            var str ="<option>4</option>"+ "<option>5</option>" +
                "<option>6</option>" +
                "<option>7</option>" +
                "<option>8</option>" +
                "<option>9</option>"+
                "<option>10</option>";

            $("#data").html(str);
        }
    }


    function getData(varl) {
        console.log("111");
        location.replace("/Suggestion/GetMovies?t=" + preType + "&val=" + varl);
    }





</script>



<h2>Movie Suggestion</h2>
<div class="row">
    <div class="col-md-5">
        <select id="byT" onchange="typeChange(this.value)">
            <option>Genre</option>
            <option>Rating</option>
        </select>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-5">
        <select id="data" onchange="getData(this.value)"></select>
    </div>
</div>

@Html.Raw(TempData["tt"])
@Html.Raw(TempData["dd"])
@*@Html.Raw(TempData["cl"])*@

<table class="table table-hover">
    <thead>
        <tr>

            <th scope="col">Movie Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Release Date</th>
            <th scope="col">Rating</th>
            <th scope="col">Added By</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr class="table-primary" onclick="location.replace('/Movie/MovieDetails/@movie.Id')">
                <td>@movie.MovieName</td>
                <td>@movie.Genre</td>
                <td>@movie.ReleaseDate</td>
                <td>@movie.Rating</td>
                <td>@movie.AddedBy</td>

            </tr>
        }
    </tbody>
</table>
